<p>shop works!</p>
<h3>Welcome to The Shop Area</h3>

    <h3 style="align-items: center;">Browse Products</h3>
<div class="shop">

    <div class="product">
        <div class="product-header"><strong>BlueJack x4P edition</strong> </div>
        <img src="https://elcopcbonline.com/photos/product/4/176/4.jpg" class="product-image"  alt=""/>
        <div class="product-info">This product is very very very good. You can do so so so and so with it...<a href="#" routerLink="/about">Read More</a></div>
        <span class="price"><strong>$50.00</strong></span><br>
        <button class="btn btn-primary">Add to cart</button>
    </div>

    <div class="product">
        <div class="product-header"><strong>Nivea Beauty Cosmetics Collection </strong> </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Product_Photography.jpg" class="product-image" alt=""/>
        <div class="product-info">This product is very very very good. You can do so so so and so with it...<a href="#" routerLink="/about">Read More</a></div>
        <span class="price"><strong>$50.00</strong></span><br>
        <button class="btn btn-primary">Add to cart</button>
    </div>

    <div class="product">
        <div class="product-header"><strong>Rolex ic4T Vintage edition</strong> </div>
        <img src="https://lh3.googleusercontent.com/DaeHJ1cE8YmvDBsBfBOxacn27nsLy35yHgxW41xMHbQbgmCrEd6GAMYWBY9ucReiZDyh6hHJOFQ6RDFx3ByAX0G40D56DDMsDzlZLQ=w262-l90-sg-rj" class="product-image"  alt=""/>
        <div class="product-info">This product is very very very good. You can do so so so and so with it...<a href="#" routerLink="/about">Read More</a></div>
        <span class="price"><strong>$50.00</strong></span><br>
        <button class="btn btn-primary">Add to cart</button>
    </div> 

</div>


