<div>
  <div class="container">
      <div class="row">
        <h3>Welcome to Angular 50</h3>
        <p>
          <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, 
            but also the leap into electronic typesetting, remaining essentially unchanged.
             It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
              and more recently with desktop publishing software like <em>Aldus PageMaker</em> including versions of Lorem Ipsum.
        </p>
      </div>
  </div>
</div>

  <h4 style="text-align:center;" class="product-header">Our Products</h4>
<div class="product-catalog">
  <div class="product-single">
        <h4>Angular 8 Developement</h4>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/1200px-.NET_Core_Logo.svg.png"
      alt="" height="100" width="100"
      />
      <p>
        <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, 
      </p>
  </div>
   <div class="product-single">
      <h4>Angular 8 Developement</h4>
      <img src="https://ih1.redbubble.net/image.453958487.1770/pp,840x830-pad,1000x1000,f8f8f8.u3.jpg"
      alt="" height="100" width="100"
      />
      <p>
        <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, 
      </p>
  </div>
   <div class="product-single">
   <h4>Angular 8 Developement</h4>
      <img src="https://ih1.redbubble.net/image.453958487.1770/pp,840x830-pad,1000x1000,f8f8f8.u3.jpg"
      alt="" height="100" width="100"
      />
      <p>
        <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, 
      </p>
  </div>
</div>

<div class="product-catalog">

  <div class="product-single">
        <h4>Angular 8 Developement</h4>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/1200px-.NET_Core_Logo.svg.png"
      alt="" height="100" width="100"
      />
      <p>
        <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, 
      </p>
  </div>
   <div class="product-single">
      <h4>Angular 8 Developement</h4>
      <img src="https://ih1.redbubble.net/image.453958487.1770/pp,840x830-pad,1000x1000,f8f8f8.u3.jpg"
      alt="" height="100" width="100"
      />
      <p>
        <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, 
      </p>
  </div>
   <div class="product-single">
   <h4>Angular 8 Developement</h4>
      <img src="https://ih1.redbubble.net/image.453958487.1770/pp,840x830-pad,1000x1000,f8f8f8.u3.jpg"
      alt="" height="100" width="100"
      />
      <p>
        <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, 
      </p>
  </div>
</div>
<!--<section>
  <div class="container">
      <div class="row">
        <h3>Welcome to Angular 50</h3>
        <p>
          <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, 
            but also the leap into electronic typesetting, remaining essentially unchanged.
             It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
              and more recently with desktop publishing software like <em>Aldus PageMaker</em> including versions of Lorem Ipsum.
        </p>
      </div>
  </div>
</section>-->

<div class="blog">
  <h2 style="text-align:center;" class="blog-header-text">In our Conversations</h2>
  
  <div class="blog-post">
    <img src="" 

    alt=""
    />
  </div>

</div>